page-login {
    .Logo {
        height: 40vw; 
        width: 40vw; 
        display: block; 
        margin: auto;
        margin-top: 7vw;
    }
    .LogoIcon {
        height: 20vw; 
        width: 17vw; 
        display: block;
        margin-top: 7vw;
        margin-left: 7vw;
    }
    .line {
        padding-left: 30vw;
    }
    .login_button {
        height: 20vw !important;
        width: 100%;
        margin-top: 7vw;
    }
}
