page-donatur-login {
    .Logo {
        height: 40vw; 
        width: 40vw; 
        display: block; 
        margin: auto;
        margin-top: 7vw;
    }

    .icon {
        font-size:5vw;
        
        float:right;
    }
    
    .tombol {
        height: 6vw !important;
        // width: 100%;
    }  

    .ButtonMasuk {
        height: 8vw !important;
        // width: 100%;
    }

    .Warning {
        font-size: 4vw;
    }

    .Head {
        font-size: 4vw;
    }
}
