page-donatur-home {
    .Item {
        height: 36vw; 
        width: 36vw; 
        display: block; 
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vw;       
    }
    .JudulItem {
        font-size: 14px;
        font-weight: bold;
        height: 44px;
    }
    .HargaItem {
        font-size: 14px;
        height: 30px;
        color: FireBrick;
    }
}
