page-donatur-home {
    .Item {
        height: 36vw; 
        width: 36vw; 
        display: block; 
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 2vw;       
    }
    .JudulItem {
        padding-left: 1vw;
        font-size: 3.5vw;
        font-weight: bold;
        height: 9vw;
    }
    .HargaItem {
        padding-left: 1vw;
        font-size: 3.5vw;
        height: 5vw;
        color: FireBrick;
    }
}
