page-donatur-list {
    .Gambar {
        height: 15vw; 
        width: 15vw;
    }
    .NamaLembaga {
        font-size: 18px;
    }
    .KotaLembaga {
        font-size: 14px;
        color: gray;
    }
}
